* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	line-height: 1.4;
	color: white;
	background-color: #111;
}

a {
	color: inherit;
	text-underline-offset: 2px;
}

h1 {
	text-align: center;
	margin-block: 1rem;
}

h1,
h2 {
	font-weight: 500;
}

h2 {
	padding-block: 1rem 0rem;
}

p {
	margin-block: 1rem;
}

img {
	max-width: 100%;
}

.secondary {
	color: #aaa;
	font-size: 0.85rem;
}
