* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	line-height: 1.5;
	color: #fff;
	background-color: #101012;
	font-size: 1.125rem;
}

a {
	color: inherit;
	text-underline-offset: 2px;
}

h1,
h2 {
	font-weight: 500;
	margin-block: 1.5rem 1rem;
}

p {
	margin-block: 1rem;
}

img {
	max-width: 100%;
}

.secondary {
	color: #aaa;
	font-size: 0.85rem;
}
